/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

    /* shared styles */
*{
   font-family: 'lato', sans-serif;
   font-family: 'Open sans' sans-serif;
   font-family: 'work Sans', sans-serif;

}
.btn-primary{
    /* btn,styles, Explore more */
    border-radius: 8px;
   background: #FF900E;
   padding: 20px 25px ;
   color: #FFF;
   font-size: 1.25rem;
   
   cursor: pointer;
   border: 0;
}
*{
    margin: 0;
}
/* header styles */
header{
    background:rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    
}
nav{
    /* nav ja ase, G3,& home, avout, contact, login, */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    /* G3 Architect, styles */
    font-size: 2.8rem;
    font-weight: 700;
    color: black;
}
nav > ul{
    display: flex;
}
nav li{      
    /* style , home About, contect, Login */
    list-style: none;
    margin-left: 40px;
    font-weight: 500;
    font-size: 1rem;
}
 nav li a{
    /* Home, About, contact Login */
    text-decoration: none;  
    color: #424242;
 }

 /* banner styles */
 /* styles, Brand New , h1 , p,button,  */
 .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
 }
 .banner  img{
    width: 100%;
    margin-top: 20px;
    /* width: 700px;
    width: 1440px; */

 }
.banner-title{
    /* banner-title,Brand New Group */
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}

.frens-img-container > img{
    width: 342px;
    height: 342px;
}

/* frens styles */
.frens-container{
    display: flex;
    align-items: center;
   
}
.frens-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 50px;
   
}
.frens-content{
   padding-right: 50px;
   padding-left: 50px;
}

.frens-title{
    font-size: 45px;
    /* padding: 20px; */
}
.teams-description{
    color: #727272;
    padding-bottom: 30px;
    /* padding: 20px; */
    padding-top: 20px;
}
.quick-list{
    color: #424242;
}
.of our{
    color: black;
}
.Features{
    color: #FF900E;
}

/* <!-- facts section --> */
.facts-p{
    color: #727272;
    padding-top: 10px;
    padding-bottom: 30px;
}
.facts-title{
    font-size: 2.8rem;
    font-weight: 700;
   color: #131313;
   padding-top: 20px;
   /* padding-left: 50px; */
}
/* facts section */
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px ;
    margin-bottom: 10px;
    margin-top: 5px;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.24rem;
}
.card-title{
    color: #727272;
}

/* sponsors styles */
.sponsors{
    text-align: center;
    margin-top: 60px;
}
.section-p{
    color: #727272;
    margin-top: 20px;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img{
    width: 165px;
}

/* feature section styles */
.features{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
   position: relative;
   bottom: 130px;
}
.ten-years-badge h2{
    font-size:4rem;
    margin-top: 0;
}
.ten-years-badge  P{
    font-size: 1.5rem;
    padding-top: 20px;
}


.faeture-img > img{
    height: 982px;
    width: 708px;
    margin-left: 90px;
}




/* Responsive media queries */
/* mobil divas */

@media screen and (max-width: 576px) {
    header{
        padding: 20px ;
    }
    nav,
    .frens-container,
    .features,
    .facts-card-container,
    .sponsors-img-container
    {
        flex-direction: column;
    }
    
    .frens-img-container{
        grid-template-columns: 1fr;
    }

    .frens-content{
        padding-right: 10px;
        padding-left: 10px;
    }
    .facts-card-container{
        gap: 30px;
    }
    .faeture-img img{
        width: 90%;
        margin-left: 0px;
    }
    .ten-years-badge{
        position: static;
        max-width: 300px;
    }
    

}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px){
    nav{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
    nav,
    .feature,
    .frens-container,
    .sponsors-img-container
    {
        flex-direction: column;
    }
 
}